body {
  padding: 0px;
  margin: 0px;
}

body > div h2 {
  font-size: 30px;
  text-align: center;
  color: #003572;
  font-weight: 650;
}

#text {
  padding: 5%;
}

#text img {
  width: 100%;
  height: auto;
}

#compra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: auto;
  padding: 5%;
}

#compra form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid orange;
  background-color: rgba(255, 166, 0, 0.486);
  width: 80%;
}

#carro {
  background-color: #003572;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#disponemos {
  margin: 0;
}

#tipo {
  display: flex;
  gap: 40px;
  margin: 3%;
  font-size: 1.2em;
}

/*-----------------------------*/

@media screen and (min-width: 901px) {
  #mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #text {
    width: 60%;
    padding: 5%;
    padding-top: 0;
  }

  #text img {
    width: 100%;
    height: auto;
  }

  #compra {
    width: 40%;
    padding: 5%;
    margin-top: 20px;
  }


}

/*-----------------------------*/

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #003572;
  color: white;
}

/* Desplegable */
#description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

#description.show {
  max-height: 500px; /* Ajusta este valor según el contenido */
  opacity: 1;
}

#toggleButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #003572;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#toggleButton:hover {
  background-color: #00234a;
}
